<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lis2A2Orders.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lis2A2Orders.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="slf4net" type="slf4net.Configuration.SlfConfigurationSection, slf4net"/>
  </configSections>
<slf4net>
    <factory type="slf4net.log4net.Log4netLoggerFactory, slf4net.log4net">
      <factory-data>
        <watch value="true"/>
      </factory-data>
    </factory>
  </slf4net>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Logs\Interface_RAW_%date{yyyyMMdd}.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="30"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%logger] %level - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="lis" connectionString="Server=SERVER;Database=DATABASE;User Id=USERNAME;Password=PASSWORD;" providerName="System.Data.SqlClient"/>
    <add name="localdb" connectionString="Data Source=.\RequestData.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <userSettings>
    <Lis2A2Orders.My.MySettings>
      <setting name="IsServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IPAddress" serializeAs="String">
        <value>10.0.110.168</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>40001</value>
      </setting>
      <setting name="NotifyIconText" serializeAs="String">
        <value>U-WAM Orders</value>
      </setting>
      <setting name="PortCOM" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="EthernetOrSerial" serializeAs="String">
        <value>Ethernet</value>
      </setting>
      <setting name="ParametersCHM" serializeAs="String">
        <value>URO\^^^BLD\^^^BIL\^^^KET\^^^GLU\^^^PRO\^^^PH\^^^NIT\^^^LEU\^^^S.G.(Ref)\^^^COLOR\^^^ColorRANK\^^^CLOUD\</value>
      </setting>
      <setting name="ParametersFCM" serializeAs="String">
        <value>RBC\^^^WBC\^^^WBC Clumps\^^^EC\^^^Squa.EC\^^^Non SEC\^^^CAST\^^^Hy.CAST\^^^Path.CAST\^^^BACT\^^^X'TAL\^^^YLC\^^^SPERM\^^^MUCUS\</value>
      </setting>
      <setting name="OrdersFilePrefix" serializeAs="String">
        <value>ORD</value>
      </setting>
      <setting name="OrdersFileExtension" serializeAs="String">
        <value>.ord</value>
      </setting>
      <setting name="OrdersFileCheckIndicatorExtension" serializeAs="String">
        <value>.ok</value>
      </setting>
      <setting name="ActiveTestOrders" serializeAs="String">
        <value>ALL</value>
      </setting>
      <setting name="ParametersAll" serializeAs="String">
        <value>URO\^^^BLD\^^^BIL\^^^KET\^^^GLU\^^^PRO\^^^PH\^^^NIT\^^^LEU\^^^S.G.(Ref)\^^^COLOR\^^^ColorRANK\^^^CLOUD\^^^RBC\^^^WBC\^^^WBC Clumps\^^^EC\^^^Squa.EC\^^^Non SEC\^^^CAST\^^^Hy.CAST\^^^Path.CAST\^^^BACT\^^^X'TAL\^^^YLC\^^^SPERM\^^^MUCUS\</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=SERVER;Database=DATABASE;User Id=USERNAME;Password=PASSWORD;</value>
      </setting>
      <setting name="dbs" serializeAs="String">
        <value>mBJEHsjmio49LOQXj2TPTw==</value>
      </setting>
      <setting name="epd" serializeAs="String">
        <value>+HQrGL6OoQYSZFEr9eaCPw==</value>
      </setting>
      <setting name="svr" serializeAs="String">
        <value>X9Sqb8uVyC0=</value>
      </setting>
      <setting name="usr" serializeAs="String">
        <value>9DL0Ltq+1XGOW2AH9Cceqjz7Qxidq1BC</value>
      </setting>
      <setting name="LastSampleTime" serializeAs="String">
        <value/>
      </setting>
      <setting name="OrdersFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="LisQueryIntervalMinutes" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>Swat,Inc. Interface</value>
      </setting>
    </Lis2A2Orders.My.MySettings>
  </userSettings>
  <applicationSettings>
    <Lis2A2Orders.My.MySettings>
      <setting name="LogPageName" serializeAs="String">
        <value>Log Display</value>
      </setting>
    </Lis2A2Orders.My.MySettings>
  </applicationSettings>
</configuration>
