<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net461" />
  <package id="ESSY.LIS.LIS01-A2" version="4.2.0" targetFramework="net461" />
  <package id="Essy.LIS.LIS02A2" version="5.2.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net461" />
</packages>